<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Backend Final</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    {{{body}}}

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>